body {
    font-family: 'Source Code Pro', monospace;
    /* max-width: 400px; */
}

.button {
    color: gray;
}

.button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.color-grid {
    width: 100vw;
    height: 80vh;
    display: grid;
    /* grid-column-gap: 10px; */
    /* grid-row-gap: 10px; */
    grid-auto-flow: row;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.a {
    background-color: blue;
}

.b {
    background-color: red;
}

.c {
    background-color: green;
}

.d {
    background-color: orange;
}

.e {
    background-color: yellow;
}

.f {
    background-color: cyan;
}

.g {
    background-color: magenta;
}

.h {
    background-color: blanchedalmond;
}

.gray {
    color: #BBB;
}

u {
    cursor: pointer;
}

.color-item {
    cursor: pointer;
    margin: 1px;
}

.color-item-confirm {
    width: 100vw;
    height: 80vw;
}

#game {
    margin-top: 20px;
    margin-bottom: 60px;
}

#player-color {
    width: 50px;
    height: 50px;
}

#location-and-role {
    margin: 20px 0px 50px 0px;
}

.location-item {
    margin: 10px 0px 10px 5px;
    cursor: pointer;
}

#error {
    color: red;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}
