body {
    /* margin: 40px; */
}

.card {
    border-radius: 5px;
    height: 66%;
}

.green {
    background-color: #B7E1CD;
}

.yellow {
    background-color:  #ffd04d;
}

.black {
    background-color: #666;
}

.magenta {
    background-color: magenta;
}

.wrapper {
    margin: 0 auto;
    width: 400px;
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(5, 100px);
    grid-auto-flow: row;
}

/* This class must be after wrapper to override display.  */
.hidden {
    display: none;
}
