body {
    font-family: 'Source Code Pro', monospace;
    padding: 10px;
    /* max-width: 400px; */
}

#wrapper {
    max-width: 400px;
    margin: 0 auto;
}

.button {
    color: gray;
}

.button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.color-grid {
    margin: 0 auto;
    max-width: 95vw;
    height: 80vh;
    display: grid;
    /* grid-column-gap: 10px; */
    /* grid-row-gap: 10px; */
    grid-auto-flow: row;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.a {
    background-color: blue;
}

.b {
    background-color: red;
}

.c {
    background-color: green;
}

.d {
    background-color: orange;
}

.e {
    background-color:  cyan;
}

.f {
    background-color: magenta;
}

.g {
    background-color: yellow;
}

.h {
    background-color: black;
}

.scratch {
    color: #BBB;
    text-decoration: line-through;
}

u {
    cursor: pointer;
}

.color-item {
    cursor: pointer;
    margin: 1px;
}

.color-item-confirm {
    width: 100%;
    min-height: 300px;
}

.continue-button {
    margin: 0 auto;
    margin-bottom: 24px;
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}

.continue-button:hover {
  background: #e7e7e7;
}

#game-seed > input,
#num-players > input {
    width: 100px;
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 100px;
}

#game {
    margin-top: 20px;
    margin-bottom: 60px;
}

#player-color {
    width: 50px;
    height: 50px;
}

#location-and-role {
    margin: 20px 0px 50px 0px;
}

#locations-list {
    display: flex;
    flex-direction: column;
}

.location-item {
    /* margin: 15px 0px 15px 5px; */
    cursor: pointer;
    width: 50%;
}

#error {
    color: red;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

#links {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* TODO figure out how to center */
#links > div {
    float: right;
}

i {
    margin: 2px;
    font-size: 22px;
    color: gray;
}

i:hover {
    color: lightgray;
}
