body {
  text-align: center;
}

h1, h3 {
  font-family: 'Dosis', sans-serif;
}

#container {
  max-width: 400px;
  margin: 0 auto;
}


p {
  /* width: 100%; */
    margin-bottom: 20px;
    text-align: left;
}
