html,
body,
#root {
  height: 100%;
  width: 100%;
}

.App {
  background-color: skyblue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

button,
span {
  font-size: 36px;
  margin-top: 50px;
}
