html,
body,
#root {
  width: 100%;
}

.App {
  height: 100%;
}

.dimmer {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  width: 400px;
  margin: 0 auto;

  background-color: rgba(255, 255, 255, 0.65);
  border: 2px solid black;
  border-radius: 8px;
}

.config,
.game {
  margin: 12px auto;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.select-form-control {
  width: 200px;
}

/* This is not a good way of adding margin but I could
   not get it to work in .select-form-control */
.config-select {
  margin-bottom: 24px;
}

button {
  margin-top: 12px;
  margin-bottom: 12px;
}

.timer {
  margin-top: 12px;
  margin-bottom: 12px;

  color: black;
  font-size: xx-large;
}

.track-information {
  margin-top: 12px;
  margin-bottom: 12px;
  text-align: center;
  color: black;
}

.song-name {
  font-weight: bolder;
  font-size: larger;
  text-align: center;
  margin-left: 12px;
  margin-right: 12px;
}

.artists {
  text-align: center;
  margin-left: 12px;
  margin-right: 12px;
}
